<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--log4net config-->
  <log4net>
    <appender name="MigrationAppender" type="log4net.Appender.RollingFileAppender">
      <file value=".\Logs\Migration.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="50MB" />
      <maxSizeRollBackups value="100" />
      <staticLogFileName value="true" />
      <countDirection value="0" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy/MM/dd HH:mm:ss,fff} [%-5level] [%logger{1}] - %message%newline" />
      </layout>
    </appender>
    <!--Log level. DEBUG, INFO, WARN, ERROR or OFF-->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="MigrationAppender" />
    </root>
  </log4net>
  <connectionStrings>
    <add name="RFODbContext" connectionString="Data Source=.\sqlexpress;Initial Catalog=RFO;User ID=sa;Password=123;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>