@{
    ViewBag.Title = "DAEBAK";
}

<div>
    <a href="@Url.Action("Index", "TableOrderManagement")"><img src="~/Templates/Admin/images/logo.jpg" width="20%" height="20%" /></a>
</div>
<div class="row">
    <button type="button">      
        <h1>
            <a href="@Url.Action("Index", "TableOrderManagement")">DAEBAK</a>
        </h1>
    </button>
</div>
